.navbar-inverse .navbar-nav {
    display: block;
    float: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.navbar-inverse .navbar-nav>li {
    display: block;
    margin: 0;
    padding: 5px;
}

.navbar-inverse .navbar-nav>li>a {
    display: block;
    padding: 5px;
}